@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


:root{
    --cyan: hsl(179, 62%, 43%);
    --bright_yellow: hsl(71, 73%, 54%);
    --light_gray: hsl(204, 43%, 93%);
    --grayish_blue: hsl(218, 22%, 67%);

}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

body{
    background-color: var(--light_gray);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    color: white;
    box-shadow: 0 10px 10px 10px rgba(156, 154, 154, 0.5);
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    min-width: 700px;
}

.main-header{
    background-color: #fff;
    color: black;
    padding: 35px;
}

.content-header{
    color: var(--cyan);
    margin-bottom: 30px;
}

.moneyback{
    color: var(--bright_yellow);
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.gatchphrease{
    color: var(--grayish_blue);
    margin-bottom: 10px;
}

.subscription{
    background-color: var(--cyan);
    padding: 35px;
}

.subscription .content-header{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
}

.price{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px; 
}

.price span{
    font-size: 16px;
    font-weight: 400;
    color: var(--light_gray);
}

.catchphrease{
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 400;
}

.btn{
    background-color: var(--bright_yellow);
    color: #fff;
    border: none;
    padding: 15px 0px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 5px 10px 5px rgba(92, 92, 92, 0.5);
    margin-top: 30px;
}

.why{
    background-color: hsl(179, 47%, 52%);
    padding: 35px;
}

.why .content-header{
    color: #fff;
}


.why ul{
    color: var(--light_gray);
    line-height: 25px;
}


.row{
    display: flex;
}

.row > div{
    flex: 1;
}
